body {
    font-family: "Lato";
    margin: 0px;
    padding: 0px;
}
#header {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    height: 40px;
}
#header .menu-header {
    padding-top: 13px;
    padding-left: 1205px;
}
ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style: none;
}
#header .menu-header ul li {
    float: left;
}
#header .menu-header ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #a9a9a9;
    display: block;
    margin-right: 42px;
}
#container {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: 0px -39px;
}
#container .container-header {
    height: 115px;
    width: 1920px;
    border-bottom: 1px solid #f3efef;
}
#container .container-header .logo {
    padding-top: 40px;
    padding-left: 375px;
}
#container .container-header .manage-box {
    width: 670px;
    height: 40px;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: -40px;
    margin-left: 875px;
    grid-column-gap: 10px;
}
#container .container-header .manage-box .search-box {
    border: 1px solid #e8e8e8;
}
#container .container-header .manage-box .search-box .category {
    margin-top: 8px;
    margin-left: 20px;
    display: inline-block;
}
#container .search-box .category .text {
    display: inline-block;
    margin-right: 55px;
}
#container .search-box .category .text a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    color: #3f3f3f;
}
#container .search-box .category .symbol {
    display: inline-block;
    margin-right: 10px;
}
#container .search-box .category .line {
    display: inline-block;
    position: absolute;
    margin-top: -5px;
}
#container .search-box .category .line img {
    height: 30px;
}
#container .search-box .search {
    display: inline-block;
}
#container .search-box .search form {
    display: inline-block;
}
#container .search-box .search form input {
    border: none;
    padding-left: 20px;
    display: inline-block;
}
#container .search-box .search form img {
    position: absolute;
    margin-top: 5px;
    margin-left: 90px;
}
#container .container-header .manage-box .cart {
    display: inline-block;
    border: 1px solid #40bea7;
}
#container .cart .cart-symbol {
    display: inline-block;
}
#container .cart .cart-symbol img {
    width: 40px;
    height: 40px;
}
#container .cart .bill {
    display: inline-block;
    font-size: 14px;
    color: black;
    padding-top: 12px;
    padding-left: 5px;
    position: absolute;
}
#container .navigation {
    background-color: #fbfbfb;
    height: 50px;
}
#container .navigation .by-category {
    display: inline-block;
}
#container .navigation .by-category .btncategory {
    display: inline-block;
    margin-left: 405px;
    margin-top: 15px;
    margin-right: 25px;
}
#container .navigation .by-category .text {
    display: inline-block;
    color: #3f3f3f;
    font-size: 16px;
    font-weight: bolder;
}
#container .navigation .menu {
    display: inline-block;
    margin-left: 95px;
    position: absolute;
    margin-top: 15px;
}
#container .navigation .menu ul li {
    float: left;
    margin-right: 48px;
}
#container .navigation .menu ul li a {
    color: #464545;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
}
#container .navigation .menu ul li a:hover {
    color: #40bea7;
}
#container .menu #downarrow {
    margin-left: 6px;
}
#container .intro {
    text-align: center;
}
#container .intro .title {
    font-family: "Raleway";
    font-size: 30px;
    margin-top: 54px;
    color: #ffffff;
    font-weight: bolder;
}
#container .intro .path {
    font-size: 13px;
    margin-top: 20px;
    color: #ffffff;
    margin-bottom: 50px;
}
#container .container-body {
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
#container .container-body .product {
    display: inline-block;
    margin-top: 40px;
    margin-left: 18px;

}
#container .container-body .image {
    display: inline-block;
    position: absolute;
}
#container .container-body .image #bag1 {
    height: 109px;
    width: 90px;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}
#container .container-body .main-image {
    display: inline-block;
    margin-left: 100px;
}
#container .container-body .main-image #bag {
    width: 470px;
    height: 570px;
}
#container .container-body .main-image #btnzoom {
    position: absolute;
    top: 963px;
    left: 878px;
}
#container .container-body .main-image #leftarrow {
    position: absolute;
    top: 680px;
    left: 450px;
}
#container .container-body .main-image #rightarrow {
    position: absolute;
    top: 680px;
    left: 875px;
}
#container .container-body .detail {
    display: inline-block;
}
#container .container-body .detail .price {
    color: #000000;
    font-size: 30px;
    font-weight: bolder;
    margin-top: -575px;
    margin-left: 30px;
    position: absolute;
}
#container .container-body .detail #leftarrow {
    position: absolute;
    top: 420px;
    left: 1475px;
}
#container .container-body .detail #rightarrow {
    position: absolute;
    top: 420px;
    left: 1515px;
}
#container .container-body .detail .in-stock {
    position: absolute;
    margin-top: -520px;
    margin-left: 30px;
    display: inline-block;
}
#container .container-body .detail .star {
    display: inline-block;
    position: absolute;
    margin-top: -515px;
    margin-left: 150px;
}
#container .container-body .detail .star img {
    color: #f8d73f;
}
#container .container-body .detail .review {
    display: inline-block;
    font-size: 14px;
    color: #b8b8b8;
    position: absolute;
    margin-top: -515px;
    margin-left: 255px;
}
#container .container-body .detail .sku {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-top: -480px;
    margin-left: 30px;
}
#container .container-body .detail .sku p {
    display: inline-block;
    font-weight: normal;
    color: #808080;
}
#container .container-body .detail .description {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #808080;
    margin-top: -445px;
    margin-left: 30px;
}
.square {
    width: 30px;
    height: 30px;
}
#container .container-body .detail .choose-color {
    display: inline-block;
    color: #808080;
    position: absolute;
    font-size: 14px;
    margin-top: -325px;
    margin-left: 30px;
}
#container .container-body .detail .choose-color #green {
    display: inline-block;
    background-color: #60c38f;
    position: absolute;
    margin-left: 35px;
    margin-top: -5px;
}
#container .container-body .detail .choose-color #blue {
    display: inline-block;
    background-color: #75d3e1;
    position: absolute;
    margin-left: 163px;
    margin-top: -22px;
}
#container .container-body .detail .choose-color #red {
    display: inline-block;
    background-color: #f38083;
    position: absolute;
    margin-left: 203px;
    margin-top: -22px;
}
#container .container-body .detail .choose-color #orange {
    display: inline-block;
    background-color: #fbaf5d;
    position: absolute;
    margin-left: 243px;
    margin-top: -22px;
}
#container .container-body .detail .choose-size {
    display: inline-block;
    color: #808080;
    position: absolute;
    font-size: 14px;
    margin-top: -266px;
    margin-left: 30px;
}
#container .container-body .detail .choose-size #size {
    width: 180px;
    height: 40px;
    margin-left: 45px;
    border-radius: 0%;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    font-family: "Lato";
    color: #808080;
    font-size: 14px;
}
#container .container-body .detail .choose-number {
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: -205px;
    margin-left: 30px;
}
#container .container-body .detail .choose-number table {
    width: 100px;
    height: 35px;
}
#container .container-body .detail .choose-number table, th, td {
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
}
#container .container-body .detail .choose-number th {
    width: 70px;
    color: #808080;
}
#container .container-body .detail .choose-number td {
    background-color: #fbfbfb;
}
#container .container-body .detail .choose-number td a {
    text-decoration: none;
    color: #808080;
}
#container .container-body .detail .choose-number #add-to-cart {
    display: inline-block;
    margin-top: -45px;
    margin-left: 75px;
    position: absolute;
}
#container .container-body .detail .choose-number #heart {
    display: inline-block;
    margin-top: -45px;
    margin-left: 235px;
    position: absolute;
}
#container .container-body .detail .choose-number #return {
    display: inline-block;
    margin-top: -45px;
    margin-left: 285px;
    position: absolute;
}
#container .container-body .detail #border {
    margin-left: 30px;
    width: 600px;
    margin-top: -130px;
    position: absolute;
}
#container .container-body .detail .cate {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-top: -120px;
    margin-left: 30px;
}
#container .container-body .detail .cate p {
    display: inline-block;
    font-weight: normal;
    color: #808080;
}
#container .container-body .detail .tag {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-top: -90px;
    margin-left: 30px;
}
#container .container-body .detail .tag p {
    display: inline-block;
    font-weight: normal;
    color: #808080;
}
#container .container-body .detail #border2 {
    margin-left: 30px;
    width: 600px;
    margin-top: -35px;
    position: absolute;
}
#container .container-body .detail .detail-footer {
    margin-left: 30px;
    margin-top: -20px;
    display: inline-block;
    position: absolute;
    font-size: 14px;
}
#print, #line-footer, #email-to {
    margin-right: 42px;
}
#fb, #twitter, #gg, #post, #youtube, #insta {
    margin-left: 23px;
}
#container .container-body .product-description {
    border: 1px solid #e6e6e6;
    margin-top: 40px;
    width: 1205px;
    margin-left: 15px;
}
#container .container-body .product-description .description-menu {
    background-color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    color: #3f3f3f;
    height: 40px;
}
#container .container-body .product-description .description-menu #descrip {
    border-top: 1px solid #40bea7;
    text-align: center;
    padding-top: 15px;
    background-color: #ffffff;
    width: 150px;
    display: inline-block;
}
#container .container-body .product-description .description-menu a {
    text-align: center;
    color: #3f3f3f;
    text-decoration: none;
}
#container .container-body .product-description .description-menu .add-re {
    display: inline-block;
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    width: 1050px;
}
#container .container-body .product-description .add-re #add-info {
    text-align: center;
    padding-top: 15px;
    width: 250px;
    height: 20px;
    display: inline-block;
}
#container .container-body .product-description .add-re #review {
    text-align: center;
    padding-top: 15px;
    width: 150px;
    height: 20px;
    display: inline-block;
}
#container .container-body .product-description .description-body {
    margin-top: 40px;
    margin-left: 30px;
}
#container .container-body .product-description .description-body p {
    font-size: 13px;
    color: #808080;
}
#container .container-body .product-description .description-body #photo-description {
    margin-left: 190px;
    margin-bottom: 30px;
}
#container .container-body .freeship {
    margin-top: 80px;
    margin-left: 15px;
}
#container .container-body .freeship img {
    width: 1205px;
}
#container .container-body .product-ads-header {
    display: inline-block;
    margin-top: 80px;
    margin-left: 445px;
    font-size: 25px;
    font-family: "Raleway";
    color: #000000;
    font-weight: bolder;
}
#container .container-body .product-ads-header #leftarrow {
    position: absolute;
    margin-left: -730px;
    margin-top: -5px;
}
#container .container-body .product-ads-header #rightarrow {
    position: absolute;
    margin-left: 745px;
    margin-top: -30px;
}
#container .container-body .product-ads {
    border-top: 2px solid #e1e1e1;
    width: 1205px;
    margin-top: 30px;
    margin-left: 15px;
}
#container .container-body .product-ads #uparrow {
    position: absolute;
    margin-top: -15px;
    margin-left: 570px;
}
#container .container-body .product-ads-img {
    margin-top: 40px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
#container .container-body .product-ads-img .items {
    text-align: center;
}
#container .container-body .product-ads-img .items .image {
    margin-left: -125px;
}
#container .container-body .product-ads-img .items .cat {
    margin-top: 280px;
    margin-left: -40px;
    font-size: 13px;
    color: #c2c2c2;
}
#container .container-body .product-ads-img .items .name a{
    text-decoration: none;
    margin-top: 300px;
    margin-left: -40px;
    font-size: 14px;
    color: #3f3f3f;
}
#container .container-body .product-ads-img .items .price {
    margin-top: 15px;
    margin-left: -40px;
    font-size: 16px;
    color: #3f3f3f;
    font-weight: bolder;
}
#container .container-body .product-ads-img .items .star {
    margin-top: 15px;
    margin-left: -40px;
}
#footer {
    background-color: #2a2a2a;
}
#footer .footer-info {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 375px;
    margin-top: 80px;
    padding-top: 80px;
}
#footer .footer-info .about-us {
    display: inline-block;
}
#footer .footer-info #fheader {
    font-weight: bolder;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 40px;
}
#footer .footer-info .about-us #tit {
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
}
#footer .footer-info p {
    color: #848484;
    font-size: 14px;
    display: inline-block;
}
#footer .footer-info .about-us .social {
    margin-top: 20px;
}
#footer .footer-info .infor a {
    text-decoration: none;
    color: #848484;
    font-size: 14px;
}
#footer .footer-info .recent {
    display: block;
}
#footer .footer-info .recent p {
    display: block;
    margin-left: 20px;
}
#footer .footer-info .recent .date img {
    display: inline-block;
}
#footer .footer-info .recent .date #text-recent {
    display: inline-block;
}
#footer .footer-info .recent #border-recent {
    width: 255px;
}
#footer #logo-footer {
    position: absolute;
    margin-top: 15px;
    margin-left: 855px;
}
#footer .foot {
    font-size: 14px;
    color: #a9a9a9;
    text-align: center;
    margin-top: 110px;
    padding-bottom: 80px;
}